astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
dask==2.3.0
fsspec==0.4.4
googletrans==2.4.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
locket==0.2.0
mccabe==0.6.1
numpy==1.17.1
pandas==0.25.1
partd==1.0.0
pick==0.6.4
pyjarowinkler==1.8
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.2
ratelimit==2.2.1
requests==2.22.0
six==1.12.0
toolz==0.10.0
tqdm==4.35.0
typed-ast==1.4.0
urllib3==1.26.5
wrapt==1.11.2
